<div class="container mt-5">
    <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
    <div class="row mt-5 text-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/IMG/Teams/image1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">อัฑฒกร จันสนิท</h5>
              <p class="card-text">ปวส.1/4</p>
              <a href="https://www.facebook.com/profile.php?id=100071692749469" class="btn btn-primary">อาร์ซัน</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/IMG/Teams/image2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ธนโชติ สมศรี</h5>
              <p class="card-text">ปวส.1/4</p>
              <a href="https://www.facebook.com/profile.php?id=100013386222606" class="btn btn-primary">ฟีน</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/IMG/Teams/image3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">สุวิจักร์ วุฒิไรวณิชย์</h5>
              <p class="card-text">ปวส.1/4</p>
              <a href="https://www.facebook.com/suwichak.wuttikraivanit" class="btn btn-primary">เอริก</a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row mt-5 text-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/IMG/Teams/image4.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">วันเลิศ สุขล้วน</h5>
              <p class="card-text">ปวส.1/4</p>
              <a href="https://www.facebook.com/wanlerd.sookluan.3" class="btn btn-primary">วัน</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/IMG/Teams/image5.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ศุภโชค ฉวีวรณ์</h5>
              <p class="card-text">ปวส.1/4</p>
              <a href="https://www.facebook.com/profile.php?id=100024718219235" class="btn btn-primary">ออม</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/IMG/Teams/image6.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ไกรวิชญ์ งามระเบียบ </h5>
              <p class="card-text">ปวส.1/4</p>
              <a href="https://www.facebook.com/kaiwit11" class="btn btn-primary">หมอก</a>
            </div>
          </div>
      </div>
    </div>
  </div>
<p>contact works!</p>
